.register-wrapper {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff;

  .register-content {
    width: 100%;
    height: auto;
    padding: 30px 28px;
    .userName_box {
      height: 45px;
      width: 100%;
      font-size: 13px;
      margin-bottom: 20px;
      border-bottom: 1px solid #F0F2F5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .box_title {
        width: 75px;
        text-align: center;
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: #2C3E50;
      }

      .box_input {
        width: calc(100% - 75px);
      }

      .get_code {
        height: 27px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        border-left: 1px solid #F0F2F5;
        background: #fff;
        color: #4486F7;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  .have_read_rule_box {
    width: 100%;
    height: 68px;
    background: blue;
  }

  .resign_box {
    height: 44px;
    border-radius: 22px;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(152, 166, 173, 1);
    color: #2C3E50;
  }
}
