.login-wrapper {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 14vw 4.2vw;
  box-sizing: border-box;
  background: #5091DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  .login-wrapper_content {
    width: 100%;
    background: url('http://oss.tdianyi.com/front/5amJcBfBbb6NtDJzC7NBYhzY3nKZFsZc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    .login_content {
      height: 100%;
      width: calc(100vw - 8.4vw);
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 8vw;
      box-sizing: border-box;

      .select_character_box {
        margin-top: 30vw;
        width: 34vw;
        height: 20vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .select_item {
          line-height: 1;
          width: 10vw;
          box-sizing: border-box;
          position: relative;

          .select_item_border {
            height: 1.7vw;
            border-radius: 0.15rem;
            width: 100%;
            background: #2869da;
            position: absolute;
            bottom: 0;
            z-index: 1;
          }

          .select_item_info {
            width: 100%;
            text-align: center;
            font-size: 4vw;
            font-weight: bold;
            line-height: 1;
            position: absolute;
            bottom: 0.6vw;
            z-index: 2;
          }
        }
      }

      .userName_box,
      .passWord_box {
        height: 11.3vw;
        width: 100%;
        margin-bottom: 10vw;
        border-bottom: 1px solid #F0F2F5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .box_title {
          width: 9vw;
          font-size: 4vw;
          font-family: Adobe Heiti Std;
          font-weight: normal;
          color: rgba(44, 62, 80, 1);
        }

        .box_input {
          width: calc(100% - 9vw);
          padding-left: 3vw;
          box-sizing: border-box;
          font-size: 3.7vw;
        }
      }

      .login_box {
        height: 12vw;
        border-radius: 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4486F7;
        color: #fff;
        font-size: 4vw;
        font-family: Adobe Heiti Std;
        margin-bottom: 3vw;
      }

      .resign_box {
        height: 12vw;
        border-radius: 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-family: Adobe Heiti Std;
        border: 1px solid rgba(152, 166, 173, 1);
        color: #2C3E50;
      }
    }
  }

  .login-wrapper_content::after {
    content: "";
    display: block;
    padding: 80%;
  }

}
