.personal_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #fff;

  .user-info {
    display: flex;
    height: 2.81rem;
    width: 7rem;
    padding-top: 0.5rem;
    padding-left: 0.38rem;
    margin-top: 0.3rem;
    background: url('../../assets/userBackground.png');
    background-size: 100%;
    background-repeat: no-repeat;

    img {
      height: 0.88rem;
      width: 0.88rem;
      margin-right: 0.16rem;
      border-radius: 50%;
      background: #fff;
    }

    .right {
      li {
        font-size: 0.34rem;
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: rgba(255, 255, 255, 1);

        .user_my_icon {
          margin-left: 0.4rem;
          display: inline-block;
          height: 0.4rem;
          width: 0.4rem;
          margin-right: 0.24rem;
          background-image: url('../../assets/userInfoIcon.png');
          background-size: 4rem;
          background-repeat: no-repeat;
          background-position: 0rem 0.05rem;
        }
      }

      li:nth-child(2) {
        font-size: 0.28rem;
      }

      li:nth-child(3) {
        display: flex;
        width: 100%;
        padding-top: 0.50rem;
        color: rgba(224, 235, 243, 1)
      }

      div:nth-child(1) {
        margin-right: 1rem;
      }

      span {
        color: rgba(255, 255, 255, 1)
      }
    }
  }

}

.invite-box {
  margin-bottom: 0.6rem;
  display: flex;
  margin-top: 0.51rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.23rem;
    height: 0.98rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.09rem 0.09rem 0.01rem rgba(63, 125, 231, 0.09);
    border-radius: 0.1rem;
    font-size: 0.28rem;
    font-family: PingFang;
    font-weight: 500;
    color: rgba(44, 62, 80, 1);
  }

  .my_icon {
    display: inline-block;
    height: 0.4rem;
    width: 0.4rem;
    margin-right: 0.24rem;
    background-image: url('../../assets/userInfoIcon.png');
    background-size: 4rem;
    background-repeat: no-repeat;
  }

  div:nth-child(1) {
    margin-right: 0.3rem;

    .my_icon {
      background-position: -0.56rem 0rem;
    }
  }

  div:nth-child(2) {
    .my_icon {
      background-position: -1.1rem 0rem;
    }
  }

  .qr_code {
    padding: 24px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    .qr_code_title {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .qr_code_img {
      width: 180px;
      height: 180px;
    }
  }
}


.type_prompt {
  font-size: 28px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: rgba(255, 57, 76, 1);
}