.myCard {
    font-size:0.3rem;
  }

  .card_box {
    margin-top 0.33rem
    margin-left 0.32rem
    width: 6.86rem;
    height: 4.2rem;
    border-radius:0.3rem;
    background:rgba(90,171,252,1);
    li:nth-child(1){
      position relative;
      padding-top: 0.57rem;
      padding-left: 0.44rem;
      display:flex;
      
      img {
        margin-right: 0.2rem;
        height: 0.48rem;
        width: 0.48rem;
      }

      div:nth-child(2){
        line-height 1
        span {
          display: block;
          font-family:Adobe Heiti Std;
          font-weight:normal;
          color:rgba(255,255,255,1);
        }
        span:nth-child(1){
          margin-bottom 0.2rem
          font-size:0.34rem;
        }
        span:nth-child(2){
          font-size:0.24rem;
        }
      }

       div:nth-child(3){
         position absolute;
         right:0.46rem;
         top:0.57rem;
         display: flex;
         justify-content: center;
         align-items: center;
          width:1.43rem;
          height:0.64rem;
          font-size:0.3rem;
          font-family:Adobe Heiti Std;
          font-weight:normal;
          color:rgba(71,129,254,1);
          background:rgba(255,255,255,1);
          border-radius:0.32rem;
      }


    }

    li:nth-child(2){
      padding-top 1.33rem;
      padding-bottom 0.22rem
      padding-left 0.43rem
      font-size:0.18rem;
      font-family:PingFang;
      font-weight:bold;
      color:rgba(255,255,255,1);
    }
    li:nth-child(3){
      padding-left 0.45rem
      font-size:0.37rem;
      font-family:PingFang;
      font-weight:bold;
      color:rgba(255,255,255,1);
      span {
        margin-right 0.4rem
      }
    }

    
  }

  .my_button {
    margin-top 0.72rem
    margin-left 0.33rem
    width:6.85rem;
    height:0.98rem;
    font-size:0.34rem;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(71,129,254,1);
    border:0.01rem solid rgba(71,129,254,1);
    border-radius:0.49rem;
    background-color #fff

  }