$px_5: 5px;
$px_10: 10px;
$px_12: 12px;
$px_14: 14px;
$px_15: 15px;
$px_40: 40px;
$c_bgc: rgb(251, 249, 254);
$c_white: #fff;
$c_999: #999;

@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bank {
  @include cover;
  background-color: $c_bgc;
}

.x-data-preview {
  margin-top: $px_10; // 10px

  .x-data-preview-item {
    margin-top: $px_10;
    background-color: $c_white;
  }

  .x-data-preview-header {
    position: relative;
    font-size: $px_12;
    padding: $px_10;
    // line-height: 100%;

    label {
      float: left;
      color: $c_999;
    }

    span {
      font-size: $px_14;
      display: block;
      text-align: right;
    }
  }

  .x-data-preview-header:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    left: $px_10;
    border-bottom: 1px solid #f5f5f5;
  }

  .x-data-preview-body {
    position: relative;
    text-align: right; //
    padding: $px_10; // 15px
    font-size: $px_14;

    .x-data-preview-bd-item {
      padding: $px_5 0;

      label {
        float: left;
        margin-right: $px_10; // 15px
        min-width: $px_40; // 40px
        text-align: justify;
        text-align-last: justify;
        color: $c_999;
      }

      span {
        display: block;
        overflow: hidden;
        word-break: normal;
        word-wrap: break-word;
      }
    }
  }
}