@mixin bgc {
  background-color: rgb(251, 249, 254);
}

@mixin cover($zIndex) {
  @include bgc;
  position: absolute;
  z-index: $zIndex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-data-preview {
  margin-top: 0.42735rem; // 10px

  .x-data-preview-item {
    margin-top: 0.42735rem;
    background-color: #fff;
  }

  .x-data-preview-header {
    position: relative;
    font-size: 0.683761rem; // 16px
    padding: 0.641026rem; // 15px
    line-height: 100%;

    label {
      float: left;
      color: #999;
    }

    span {
      font-size: 16px; // 20px
      display: block; // overflow: hidden;
      text-align: right;
    }
  }

  .x-data-preview-header:after {
    content: ' ';
    position: absolute; // height: 1px;
    bottom: 0;
    right: 0;
    left: 0.641026rem; // 15px
    border-bottom: 1px solid #f5f5f5;
  }

  .x-data-preview-body {
    position: relative;
    text-align: right; //
    padding: 0.641026rem; // 15px
    font-size: 14px;

    .x-data-preview-bd-item {
      padding: 0.1rem 0;

      label {
        float: left;
        margin-right: 0.641026rem; // 15px
        min-width: 1.709402rem; // 40px
        text-align: justify;
        text-align-last: justify;
        color: #999;
      }

      span {
        display: block;
        overflow: hidden;
        word-break: normal;
        word-wrap: break-word;
        // color: #000;
      }
    }
  }
}