.revenue_type_box {
    position relative;
    width 2.16rem;
    .revenue_type_title {
      display: flex;
      justify-content: center;
      align-items: center; 
      .confirm_type {
        font-size:0.34rem;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        color:rgba(44,62,80,1);
        margin-right 0.21rem;
      }
    }

    .revenue_type {
      position absolute;
      top:0.7rem;
      left: 0px;
      width:1.97rem;
      background:rgba(255,255,255,1);
      border-radius:10px;
      overflow hidden;
      box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
      span {
        display: block;
        height:0.72rem;
        text-align: center;
        line-height 0.72rem;
        font-size:0.3rem;
        font-family:Adobe Heiti Std;
        font-weight:normal;
        color:rgba(44,62,80,1);
      }

      .checked {
        background: #E6ECFF;
      }

      .no_checked {
        background: #fff;
      }

    }

  }