.bank_card_bind {
    font-size:0.3rem;
    background-color #fff
    /deep/ .van-nav-bar {
      border-bottom: 0.01rem solid #DDE2E5;
    }
    /deep/ .van-cell {
      padding-left 0;
      padding-top 0.47rem;
      padding-bottom 0.3rem
      border-bottom:0.01rem solid rgba(221,226,229,1);
    }

    .bank_title {
      margin-top 0.64rem
      font-size:0.34rem;
      font-family:Adobe Heiti Std;
      font-weight:normal;
      text-align: center;
      color:rgba(48,44,72,1);
    }

    .bank_card_  {
      li:nth-child(1){
        margin 0 0.57rem
      }
      li:nth-child(2){
        position relative;
        margin 0 0.57rem;
        display: flex;

       /deep/ .van-field__control {
          width 50%
        }
        
        span {
          position absolute;
          height 0.8rem;
          width: 2rem;
          line-height 0.98rem;
          border-left: 1px solid #B7C0C5;
          padding-left 0.44rem
          right 0.68rem;
          top: 0.2rem;

          text-align: center;
          font-size:0.3rem;
          font-family:PingFang;
          font-weight:500;
          color:rgba(68,134,247,1);
        }
      }
    }

  }

  

  .my_button {
    margin-top 0.72rem
    margin-left 0.33rem
    width:6.85rem;
    height:0.98rem;
    font-size:0.34rem;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(71,129,254,1);
    border:0.01rem solid rgba(71,129,254,1);
    border-radius:0.49rem;
    background-color #fff
  }