// 颜色
$c_white: #fff;
$c_orange: #EF6100;
$c_gray: #c9c9c9;
$c_grayA: #4e4e4e;
$c_mask: rgba(0, 0, 0, .7);
$c_black: #000;
$c_555: #555;
// 页面主字体颜色
// 页面主背景颜色
$c_main: #f2f2f2;
$c_assist: #fbfbfb;
// 边框
$c_border: #E1E1E1;
$c_wx: #14CB14;
// 主字体颜色
$c_font: #757575;
// 字体大小
// $px_3: 3px;
$s_12: 12px;
$s_14: 14px;
$s_16: 16px;
$s_18: 18px;
$s_20: 20px;
// px
$px_3: 3px;
$px_5: 5px;
$px_6: 6px;
$px_8: 8px;
$px_10: 10px;
$px_12: 12px;
$px_15: 15px;
$px_20: 20px;
$px_40: 40px;
$px_50: 50px;
$px_100: 100px;
$px_200: 200px;
$px_400: 400px;
// 百分比
$pc_50: 50%;
$pc_100: 100%;
