.splitFeeSet {
  background: #f4f7f9;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 4vw;
  box-sizing: border-box;
}
.splitFeeSet .splitFeeSet_Box {
  width: 100%;
  height: auto;
}
.splitFeeSet .splitFeeSet_Box .splitFeeSet_content {
  width: 100%;
  height: auto;
  border-radius: 2.6vw;
  background: #fdfdfe;
  box-shadow: 0.2vw 0.2vw 0.6vw 0.2vw rgba(0, 0, 0, 0.05),
    0.1vw 0.1vw 0.4vw 0.1vw rgba(255, 255, 255, 0.2);
  overflow: hidden;
  margin-bottom: 2.9vw;
}
.splitFeeSet .splitFeeSet_Box .splitFeeSet_content .splitFeeSet_title {
  height: 12vw;
  width: 100%;
  background: #fbfbfc;
  padding: 0 4.2vw;
  box-sizing: border-box;
  border-bottom: 0.1vw solid #f0f2f5;
  font-size: 4.4vw;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #343a40;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.splitFeeSet .splitFeeSet_Box .splitFeeSet_content .splitFeeSet_item {
  width: 100%;
  height: auto;
  padding: 4.2vw 7.4vw;
}
.splitFeeSet
  .splitFeeSet_Box
  .splitFeeSet_content
  .splitFeeSet_item
  .splitFeeSet_infoBox {
  height: 7.4vw;
  width: 100%;
  margin-bottom: 2.6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.splitFeeSet
  .splitFeeSet_Box
  .splitFeeSet_content
  .splitFeeSet_item
  .splitFeeSet_infoBox
  .item_title {
  height: 4vw;
  width: 24vw;
  font-size: 3.4vw;
  text-align: right;
  line-height: 1;
  letter-spacing: 0.1vw;
}
.splitFeeSet
  .splitFeeSet_Box
  .splitFeeSet_content
  .splitFeeSet_item
  .splitFeeSet_infoBox
  .splitFeeSet_inputBox {
  height: 7.4vw;
  width: calc(100% - 24vw);
  background: #f3f5f8;
  padding: 0 3.6vw 0 0;
  box-sizing: border-box;
  font-size: 3.6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3.2vw;
}
.splitFeeSet
  .splitFeeSet_Box
  .splitFeeSet_content
  .splitFeeSet_item
  .splitFeeSet_infoBox
  .splitFeeSet_inputBox
  .splitFeeSet_input {
  height: 7.4vw;
  width: 36.8vw;
  background: #f3f5f8;
  padding-right: 2vw;
  box-sizing: border-box;
  text-align: right;
}
.splitFeeSet
  .splitFeeSet_Box
  .splitFeeSet_content
  .splitFeeSet_item
  .splitFeeSet_infoBox:last-child {
  margin-bottom: 0;
}
.splitFeeSet .splitFeeSet_Box .splitFeeSet_content:last-child {
  margin-bottom: 6.4vw;
}
.splitFeeSet .feeSet_save {
  height: 12vw;
  border-radius: 6vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4486f7;
  color: #fff;
  font-size: 4vw;
  font-family: Adobe Heiti Std;
  margin-bottom: 3vw;
}
